


/* 元件最外圍 */
.WorldPage{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;

    .WorldPageBg{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .mainBox{
        z-index: 1;
        width: calc(100% - 146px);
        height: calc(100vh - 75px);
        display: flex;
        justify-content: start;
        align-items: end;
        .lefBox{
            width: 20%;
            height: calc(100% - 15%);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            .titleBox{
                width: 100%;
                height: 10%;
                
                .titleImgSet{
                    width: auto;
                    height: 100%;
                    
                    background-position: center 0;      /* 左上角 */
                    background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                    background-repeat: no-repeat;
                    
                    &.fitst{
                        aspect-ratio: 242 / 102;
                        background-image: url('/images/world/plateTit1.png');
                    }
                    &.second{
                        aspect-ratio: 260 / 102;
                        background-image: url('/images/world/plateTit2.png');
                    }
                    &.third{
                        aspect-ratio: 281 / 102;
                        background-image: url('/images/world/plateTit3.png');
                    }
                    &.fourth{
                        aspect-ratio: 356 / 102;
                        background-image: url('/images/world/plateTit4.png');
                    }
                }
            }

            .textBox{
                margin: 12px auto 0 0;
                width: 100%;
                height: auto;
                aspect-ratio: 285 / 100;
                overflow-y: auto;   // ← 讓右側捲軸出現
                overflow-x: hidden; // ← 水平不要捲軸
                flex-shrink: 0;

                // 捲軸的寬度
                &::-webkit-scrollbar {
                    width: 8px;
                }

                // 捲軸的軌道（背景）
                &::-webkit-scrollbar-track {
                    background: transparent;
                    border-radius: 4px;
                }

                // 捲軸本體（可以拉動的部分）
                &::-webkit-scrollbar-thumb {
                    background: #999;
                    border-radius: 4px;
                }

                // 滑鼠 hover 在捲軸上
                &::-webkit-scrollbar-thumb:hover {
                    background: #999;
                }
                .textSet{
                    color: #999;
                    font-size: 16px;
                }
            }

            .tabImgBox{
                position: relative;
                margin-top: 24px;
                width: 50%;
                height: auto;
                aspect-ratio: 130 / 460;
                .tabImgSet{
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center 0;      /* 左上角 */
                    background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                    background-repeat: no-repeat;
                    background-image: url('/images/world/guidepost.png');

                    .numImgSet{
                        position: absolute;
                        top: 9%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 40%;
                        // max-width: 55px;
                        height: auto;
                        aspect-ratio: 83 / 66;
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        

                        &.fitst{
                            background-image: url('/images/world/01.png');
                        }

                        &.second{
                            background-image: url('/images/world/02.png');
                        }
                        &.third{
                            background-image: url('/images/world/03.png');
                        }
                        &.fourth{
                            background-image: url('/images/world/04.png');
                        }
                    }
                }
                
                .tabLink{
                    position: absolute;
                    z-index: 1;
                    width: 120%;
                    height: auto;
                    aspect-ratio: 250 / 64;
                    background-position: center 0;      /* 左上角 */
                    background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                    background-repeat: no-repeat;

                    &:hover {
                        background-position-y: 100%;
                    }

                    &.active {
                        background-position-y: 100%;

                        .arrowImgSet{
                            display: block;
                        }
                    }

                    &.fitst{
                        top: 20%;
                        left: -40%;
                        background-image: url('/images/world/plate1.png');
                    }

                    &.second{
                        top: 30%;
                        left: 0%;
                        background-image: url('/images/world/plate2.png');
                    }
                    &.third{
                        top: 40%;
                        left: -40%;
                        background-image: url('/images/world/plate3.png');
                    }
                    &.fourth{
                        top: 50%;
                        left: 0%;
                        background-image: url('/images/world/plate4.png');
                    }

                    .arrowImgSet{
                        display: none;
                        position: absolute;
                        top: 0%;
                        left: 105%;
                        transform: translate(-50%,-50%);
                        width: 30%;
                        //max-width: 50px;
                        height: auto;
                        aspect-ratio: 77 / 54;
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        background-image: url('/images/world/plateActive.png');
                    }
                }
            }

            .tabImgBox02{
                position: relative;
                width: 50%;
                height: 50%;
                background-position: center 0;      /* 左上角 */
                background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                background-image: url('/images/world/guidepost2.png');
            }
        }

        

        .rightBox{
            width: 70%;
            height: calc(100% - 10%);
            position: relative;
            .tabViewBox{
                position: relative;
                z-index: 1;
                width: 100%;
                height: auto;
                aspect-ratio: 1570 / 1174;
                .tabViewBoxBg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }

                .tabViewImgSet{
                    position: absolute;
                    z-index: 1;
                    top: 36%;
                    left: 51%;
                    transform: translate(-50%,-50%);
                    width: 86%;
                    height: auto;
                    aspect-ratio: 1400 / 640;
                    background-color: rgb(83, 83, 83);

                    /* ─ 內容區（React-Bootstrap 的 .tab-content） ─ */
                    .tab-content {

                        /* 內容外層（.tab-pane） */
                        .tab-pane {
                           
                            /* 元件最外圍 */
                            .swiper{
                                width: 100%;
                                height: 100%;
                                //輪播本體
                                .swiper-slide.swiperSlide{

                                    /* 輪播片內容 */
                                    .slide-item {
                                        width: 100%;
                                        height: 100%;
                                        background-color: red;
                                    }
                                    /* 輪播片內容 */
                                }
                                //輪播本體

                                
                            }
                            /* 元件最外圍 */
                        }
                    }
                }

                .prevBtn,.nextBtn{
                    display: none;
                    position: absolute;
                    z-index: 2;
                    width: 10%;
                    // max-width: 90px;
                    height: auto;
                    aspect-ratio: 135 / 58;
                    transform: translate(-50%,-50%);
                    background-position: center 0;      /* 左上角 */
                    background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                    background-repeat: no-repeat;
                    &:hover {
                        background-position-y: 100%;
                    }
                    &.active{
                        display: block;
                    }
                }

                .prevBtn{
                    top: 67%;
                    left: 13%;
                    background-image: url('/images/world/brandPrev.png');
                }

                .nextBtn{
                    top: 67%;
                    left: 88%;
                    background-image: url('/images/world/brandNext.png');
                }

                .worldPaginationBox{
                    position: absolute;
                    z-index: 2;
                    width: 50%;
                    height: 5%;
                    top: 67%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    // background-color: red;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    gap: 24px;

                    &.active{
                        display: flex;
                        .swiper-pagination-bullet{
                            display: block;
                            &.swiper-pagination-bullet-active{
                                background-color: #4fe5fb;
                            }
                        }
                    }

                    .swiper-pagination-bullet {
                        display: none;
                        width: 12px;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        background-color: #616161;
                        opacity: 1;
                        border: 1 solid #000;
                        cursor: pointer;
                    }
                    // .swiper-pagination-bullet-active {
                        
                    // }
                }
            }

            .tabViewBox02{
                position: absolute;
                top: auto;
                bottom: 0%;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 50%;
                background-position: center 0;      /* 左上角 */
                background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                background-image: url('/images/world/brand2.png');
            }

            .utilityPoleBox{
                position: absolute;
                top: 0;
                left: 85%;
                z-index: 2;
                width: 20%;
                height: auto;
                aspect-ratio: 349 / 1186;
                background-position: center 0;      /* 左上角 */
                background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                background-image: url('/images/world/trafficSign.png');
                pointer-events: none; // 避免擋到前景點擊

                .stopLightImgSet{
                    position: absolute;
                    top: 22%;
                    left: 74%;
                    width: 20%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    background-color: #616161;
                    border-radius: 8px;
                    padding: 5px;

                    .LightImgSet{
                        width: 100%;
                        height: 100%;
                        border: 1px solid #000000;
                        border-radius: 8px;
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        animation: bgCycle 6s infinite linear;
                        // 

                        @keyframes bgCycle {

                            /* ---- RED ---- */
                            0% {
                                background-image: url('/images/world/red.png');
                                background-color:#fd5997;
                                background-position-y:100%;
                            }

                            11.10% {
                                background-position-y:100%;
                            }
                            11.11% {
                                background-position-y:0%;
                            }

                            22.21% {
                                background-position-y:0%;
                            }
                            22.22% {
                                background-position-y:100%;
                            }

                            33.32% {
                                background-position-y:100%;
                            }
                            33.33% {
                                background-position-y:0%;
                            }

                            44.43% {
                                background-position-y:0%;
                            }
                            44.44% {
                                background-image: url('/images/world/red.png');
                                background-color:#fd5997;
                                background-position-y:100%;
                            }

                            /* ---- GREEN ---- */
                            55.54% {
                                background-image: url('/images/world/red.png');
                                background-color:#fd5997;
                                background-position-y:100%;
                            }
                            55.55% {
                                background-image: url('/images/world/green.png');
                                background-color:#4fe5fb;
                                background-position-y:0%;
                            }

                            66.65% {
                                background-position-y:0%;
                            }
                            66.66% {
                                background-position-y:100%;
                            }

                            77.76% {
                                background-position-y:100%;
                            }
                            77.77% {
                                background-position-y:0%;
                            }

                            88.87% {
                                background-position-y:0%;
                            }
                            88.88% {
                                background-position-y:100%;
                            }

                            99.99% {
                                background-position-y:100%;
                            }
                            100% {
                                background-image: url('/images/world/green.png');
                                background-color:#4fe5fb;
                                background-position-y:0%;
                            }
                        }


                        
                    }
                }
            }
            .utilityPoleBox02{
                position: absolute;
                top: auto;
                bottom: 0%;
                left: 85%;
                z-index: 0;
                width: 20%;
                height: 50%;
                background-position: center 0;      /* 左上角 */
                background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                background-image: url('/images/world/trafficSign2.png');
                pointer-events: none; // 避免擋到前景點擊
            }
        }
    }
}
/* 元件最外圍 */