

/* 元件最外圍 */
.informationPage{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: #202020;
    .informationPageBg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .mainBox{
        z-index: 1;
        width: calc(100% - 146px);
        height: calc(100vh - 75px);
        display: flex;
        justify-content: center;
        align-items: center;
        .leftBox{
            width: 100%;
            min-width: 0%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            padding-top: 10%;
            .swiperBox{
                width: 100%;
                height: auto;
                .swiperViewBox{
                    position: relative;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1280 / 707;
                    padding: 6.5% 8% 6.5% 8.5%;
                    .swiperViewBoxBg{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    .viewBox{
                        z-index: 1;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 865 / 487;
                        background-color: rgb(141, 141, 141);
                        position: relative;
                        
                        /* 元件最外圍 */
                        .informationSwiper{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            //輪播本體
                            .swiper-slide.swiperSlide{
                                width: 100%;
                                height: 100%;
                                /* 輪播片內容 */
                                .slide-item {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                /* 輪播片內容 */
                            }
                            //輪播本體
                        }
                        /* 元件最外圍 */
                        
                    }
                    
                }
                //頁碼按鈕
                .inforPaginationSet{
                    
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3.5%;

                    .swiper-pagination-bullet {
                        width: 1.3%;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        background-color: #616161;
                        opacity: 1;
                        cursor: pointer;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: #fe5a95;
                    }
                }
                //頁碼按鈕
            }
        }

        .rightBox{
            width: 100%;
            min-width: 0%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            padding-top: 13%;
            .newsBox{
                
                width: 80%;
                height: auto;

                .newsTitleBox{
                    position: relative;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 927 / 194;
                    display: flex;
                    justify-content: start;
                    align-items: end;
                    .newsTitleImgSet{
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .newsTitleItemBox{
                        width: 100%;
                        height: 38%;
                        z-index: 2;
                        margin: 0px 5%;
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        .itemBoxSet{
                            width: 100%;
                            height: auto;
                            aspect-ratio: 197 / 62;
                            transform: skew(-15deg);
                            background-color: transparent;
                            border-radius: 8px;
                            border: none;
                            padding: 0px;
                            &:hover {
                                background-position-y: 100%;
                                background-color: rgb(33, 37, 41);

                                .itemSet{
                                    background-position-y: 100%;
                                }
                            }

                            &.active {
                                background-position-y: 100%;
                                background-color: rgb(33, 37, 41);

                                .itemSet{
                                    background-position-y: 100%;
                                }
                            }

                            .itemSet{
                                width: 100%;
                                height: 100%;
                                background-position: center 0;      /* 左上角 */
                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                transform: skew(15deg);

                                &.news {
                                    background-image: url('/images/information/news.png');
                                }

                                &.gamenews {
                                    background-image: url('/images/information/gamenews.png');
                                }

                                &.activity {
                                    background-image: url('/images/information/gameevent.png');
                                }

                                &.system {
                                    background-image: url('/images/information/gamebroad.png');
                                }
                            }                            
                        }

                        .newsMore{
                            flex: 0 0 auto; 
                            margin-left: 3%;
                            width: 4%;
                            height: auto;
                            aspect-ratio: 1 / 1;
                            background-color: transparent;
                            border: none;
                            padding: 0px;
                            
                            &:hover {

                                .itemSet{
                                    background-position-y: 100%;
                                }
                            }
                            .itemSet{
                                display: block;
                                width: 100%;
                                height: 100%;
                                background-position: center 0;      /* 左上角 */
                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                background-image: url('/images/information/newsMore.png');
                            }
                        }
                        
                    }
                    
                }

                .newsItemsBox{
                    width: 100%;
                    height: auto;
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    .newsItem{
                        width: 98%;
                        height: auto;
                        padding: 12px 0px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 12px;
                        border-bottom: 2px solid rgb(49,49,49);
                        
                        .class{
                            transform: skew(-15deg);
                            font-size: clamp(16px, 1.5vw, 20px);
                            padding: 0px 2%;
                            border-radius: 4px;
                            white-space: nowrap;//取消文字自動換行

                            &.system{
                                color: rgb(49, 49, 49);
                                background-color: rgb(177, 177, 177);
                            }

                            &.activity{
                                color: rgb(255, 255, 255);
                                background-color: rgb(254, 90, 149);
                            }

                            &.gamenews{
                                color: rgb(49, 49, 49);
                                background-color: rgb(109, 220, 237);
                            }
                        }

                        .content{
                            max-width: 60%;
                            margin-right: auto;
                            color: rgb(223, 223, 223);
                            font-size: clamp(16px, 1.5vw, 20px);
                            white-space: nowrap;//取消文字自動換行
                            overflow: hidden;
                            text-overflow: ellipsis;//將多餘文字改為...
                        }

                        .time{
                            color: rgb(223, 223, 223);
                            font-size: clamp(16px, 1.5vw, 20px);
                            white-space: nowrap;//取消文字自動換行
                        }
                    }
                }
                
            }
        }
    }
}
/* 元件最外圍 */